<%= form_for @twentyone, :html => { :class => "form-horizontal twentyone" } do |f| %>

  <% if @twentyone.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@twentyone.errors.count, "error") %> prohibited this twentyone from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @twentyone.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="container">

  <div class="form-group">
    <%= f.label :day, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :day, :class => 'form-control' %>
    </div>
    <%=f.error_span(:day) %>
  </div>
  <div class="form-group">
    <%= f.label :breakfast, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :breakfast, :class => 'form-control' %>
    </div>
    <%=f.error_span(:breakfast) %>
  </div>
  <div class="form-group">
    <%= f.label :morning, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :morning, :class => 'form-control' %>
    </div>
    <%=f.error_span(:morning) %>
  </div>
  <div class="form-group">
    <%= f.label :lunch, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :lunch, :class => 'form-control' %>
    </div>
    <%=f.error_span(:lunch) %>
  </div>
  <div class="form-group">
    <%= f.label :snack, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :snack, :class => 'form-control' %>
    </div>
    <%=f.error_span(:snack) %>
  </div>
  <div class="form-group">
    <%= f.label :dinner, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :dinner, :class => 'form-control' %>
    </div>
    <%=f.error_span(:dinner) %>
  </div>
  <div class="form-group">
    <%= f.label :night, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :night, :class => 'form-control' %>
    </div>
    <%=f.error_span(:night) %>
  </div>
  

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                twentyones_path, :class => 'btn btn-default' %>
    </div>
  </div>

  </div>

<% end %>
