<div class="container">

<%- model_class = Twentyone -%>
<div class="page-header">
<h3><i>Twenty-one Days Diet Plan ( lose 4-5 kgs)</i></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:day) %></th>
      <th><%= model_class.human_attribute_name(:breakfast) %></th>
      <th><%= model_class.human_attribute_name(:morning) %></th>
      <th><%= model_class.human_attribute_name(:lunch) %></th>
      <th><%= model_class.human_attribute_name(:snack) %></th>
      <th><%= model_class.human_attribute_name(:dinner) %></th>
      <th><%= model_class.human_attribute_name(:night) %></th>     
    </tr>
  </thead>
  <tbody>
    <% @twentyones.each do |twentyone| %>
      <tr>
        <td><%= twentyone.day %></td>
        <td><%= twentyone.breakfast %></td>
        <td><%= twentyone.morning %></td>
        <td><%= twentyone.lunch %></td>
        <td><%= twentyone.snack %></td>
        <td><%= twentyone.dinner %></td>
        <td><%= twentyone.night %></td>        
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      twentyone_path(twentyone), :class => 'btn btn-default btn-xs' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div class="container">
        <strong>Things to remember</strong>
            <p><strong>
                 * Total calories: 800-1000 per day.<br>
                 * Workout = 30 mins at least ( walk or areobics )<br>
                 * Add garlic in your diet whenever you can.<br>
                 * Drink more and more water.<br>
               </strong>
            </p>
</div>
