<div class="container">

<%- model_class = Twentyone -%>
<div class="page-header">
<h3><i>Twenty-one Days Diet Plan</i></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:day) %>:</strong></dt>
  <dd><%= @twentyone.day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:breakfast) %>:</strong></dt>
  <dd><%= @twentyone.breakfast %></dd>
  <dt><strong><%= model_class.human_attribute_name(:morning) %>:</strong></dt>
  <dd><%= @twentyone.morning %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lunch) %>:</strong></dt>
  <dd><%= @twentyone.lunch %></dd>
  <dt><strong><%= model_class.human_attribute_name(:snack) %>:</strong></dt>
  <dd><%= @twentyone.snack %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dinner) %>:</strong></dt>
  <dd><%= @twentyone.dinner %></dd>
  <dt><strong><%= model_class.human_attribute_name(:night) %>:</strong></dt>
  <dd><%= @twentyone.night %></dd>
  
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              twentyones_path, :class => 'btn btn-default'  %>



</div>
