
<div class="container">

<%- model_class = Eggdiet -%>
<div class="page-header">
<h3><i>Boiled Egg Diet Plan ( lose 24 pounds)</i></h3>
</div>
<table class="table table-striped">

  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:day) %></th>
      <th><%= model_class.human_attribute_name(:breakfast) %></th>
      <th><%= model_class.human_attribute_name(:lunch) %></th>
      <th><%= model_class.human_attribute_name(:dinner) %></th>
    </tr>
  </thead>

  <tbody>
    <% @eggdiets.each do |eggdiet| %>
      <tr>
        <td><%= eggdiet.day %></td>
        <td><%= eggdiet.breakfast %></td>
        <td><%= eggdiet.lunch %></td>
        <td><%= eggdiet.dinner %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      eggdiet_path(eggdiet), :class => 'btn btn-default btn-xs' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div class="container">
<p><strong>
** You need to drink 8 to 10 glasses of water each day.
</strong>
</p>
</div>
