<%- model_class = Eggdiet -%>
<div class="page-header">
<h3><i>Boiled Egg Diet Plan </i></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:day) %>:</strong></dt>
  <dd><%= @eggdiet.day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:breakfast) %>:</strong></dt>
  <dd><%= @eggdiet.breakfast %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lunch) %>:</strong></dt>
  <dd><%= @eggdiet.lunch %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dinner) %>:</strong></dt>
  <dd><%= @eggdiet.dinner %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              eggdiets_path, :class => 'btn btn-default'  %>

