<%- model_class = Seven -%>
<div class="container">
<div class="page-header">
<h3><i>Seven Days Diet Plan </i></h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>      
      <th><%= model_class.human_attribute_name(:day) %></th>
      <th><%= model_class.human_attribute_name(:breakfast) %></th>
      <th><%= model_class.human_attribute_name(:lunch) %></th>
      <th><%= model_class.human_attribute_name(:dinner) %></th>      
    </tr>
  </thead>

  <tbody>
    <% @sevens.each do |seven| %>
      <tr>       
        <td><%= seven.day %></td>
        <td><%= seven.breakfast %></td>
        <td><%= seven.lunch %></td>
        <td><%= seven.dinner %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      seven_path(seven), :class => 'btn btn-default btn-xs' %>
          
        </td>       
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="container">
  <h4> Day 4 to 7</h4>
     <p> 
     Once you complete three day diet, you will need to follow a 1500 calorie meal plan for remaining 4 days of week in order to maintain your weight loss results.
     </p>
</div>


  <div class="container">
     <strong>Things to remember</strong>
     <p><strong>
     * Drink enough water every day<br>
     * No Alcohol<br>
     * No Diet Sodas<br>
     * Do HIIT exercises for best weight loss results<br>
     * Don't start another weight loss<br>
     * Once done, follow the low crab high protein diet to maintain the results<br>
     </strong>
     </p>
  </div>



