<div class="container">

<%- model_class = Seven -%>
<div class="page-header">
<h3><i>Seven Days Diet Plan </i></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:day) %>:</strong></dt>
  <dd><%= @seven.day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:breakfast) %>:</strong></dt>
  <dd><%= @seven.breakfast %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lunch) %>:</strong></dt>
  <dd><%= @seven.lunch %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dinner) %>:</strong></dt>
  <dd><%= @seven.dinner %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              sevens_path, :class => 'btn btn-default'  %>


</div>
