<div id="myCarousel" class="carousel slide" data-ride="carousel">

<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">

  <div class="item active">
    <%= image_tag "diet.jpg" %>             
  </div><!--- End Active-->

  <div class="item">
    <%= image_tag "diet3.jpg"  %>           
  </div>

</div>

<!--- Start Slider Controls-->
<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>

<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>

</div> <!--- End Slider -->

<div class="container text-center">    
  <h3><b>What are  calories, proteins, carbohydrates and fats?</b></h3><br>
</div>


  <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4><i>Calories</i></h4>
      <p>Calories in food provide energy in the form of heat so that our bodies can function. Our bodies store and "burn" calories as fuel. Many dieters count calories and try to decrease caloric intake to lose weight.
      Different types of food provide different levels of energy. 
      </p>
    </div>  

    <div class="col-sm-6">
      <h4><i>Proteins</i></h4>          
      <p>
      The human body uses proteins for many things, including repairing and building tissues, acting as enzymes, aiding the immune system, and serving as hormones. Each of these important functions requires a slightly different form of protein. 
      </p>
    </div>

  </div>
  </div>

  <div class="container">
  <div class="row">

  <div class="col-sm-6">
    <h4><i>Carbohydrates</i></h4>
    <p>Carbohydrates are the sugars, starches and fibers found in fruits, grains, vegetables and milk products. Though often maligned in trendy diets, carbohydrates — one of the basic food groups — are important to a healthy life.
    They are a major food source and a key form of energy for most organisms.
    </p>
  </div>

  <div class="col-sm-6"> 
   <h4><i>Fats</i></h4>         
   <p>Fat is an essential part of our diet and nutrition, and we cannot live without it.
   Our bodies require small amounts of 'good fat' to function and help prevent disease.
   However, a lot of modern diets contain far more fat than the body needs.   
   </p>
  </div>

</div>

</div>



