<%= form_for @normal, :html => { :class => "form-horizontal normal" } do |f| %>

  <% if @normal.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@normal.errors.count, "error") %> prohibited this normal from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @normal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="container">

  <div class="form-group">
    <%= f.label :weight, 'Weight ( lb )', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :weight, :class => 'form-control' %>
    </div>
    <%=f.error_span(:weight) %>
  </div>
  <div class="form-group">
    <%= f.label :height, 'Height ( inches )' , :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :height, :class => 'form-control' %>
    </div>
    <%=f.error_span(:height) %>
  </div>
  <div class="form-group">
    <%= f.label :age, 'Age ( years )' , :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :age, :class => 'form-control' %>
    </div>
    <%=f.error_span(:age) %>
  </div>
  
  <div class="container text-center">
  <div class="form-group">    
    <div class="col-lg-10">
       <div class="form_row">
         <%= radio_button_tag 'theme', "male", @theme == "male" %><b>Male</b>
         <%= radio_button_tag 'theme', "female", @theme == "female" %><b>Female</b>
       </div>
    </div>
    <%=f.error_span(:theme) %>
  </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </div>

  </div>

<% end %>


