<%- model_class = Normal -%>

<div class="container">

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:weight) %></th>
      <th><%= model_class.human_attribute_name(:height) %></th>
      <th><%= model_class.human_attribute_name(:age) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
     
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @normals.each do |normal| %>
      <tr>
        
        <td><%= normal.weight %></td>
        <td><%= normal.height %></td>
        <td><%= normal.age %></td>
        <td><%= normal.total %></td>
        
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      normal_path(normal), :class => 'btn btn-default btn-xs' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_normal_path,
            :class => 'btn btn-primary' %>

</div>
