<div class="container">
  <div class="row"> 
      <%= image_tag("needcalorie.jpg", :width => "100%", :height => "100%") %>     
  </div>  
</div> 

<%- model_class = Normal -%>

<div class="container">

<div class="page-header">
  <h3><i>Normal needed calorie for you</i></h3>
</div>
<%= render :partial => 'form' %>

</div>

<div class="container">
     <%= link_to ' Average Needed Calorie for man', men_path %> |
     <%= link_to ' Average Needed Calorie for woman', women_path %>
</div>
