<%= form_for @man, :html => { :class => "form-horizontal man" } do |f| %>

  <% if @man.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@man.errors.count, "error") %> prohibited this man from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @man.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :height, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :height, :class => 'form-control' %>
    </div>
    <%=f.error_span(:height) %>
  </div>
  <div class="form-group">
    <%= f.label :range, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :range, :class => 'form-control' %>
    </div>
    <%=f.error_span(:range) %>
  </div>
  <div class="form-group">
    <%= f.label :mean, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :mean, :class => 'form-control' %>
    </div>
    <%=f.error_span(:mean) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                men_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
