<div class="container">

<%- model_class = Man -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:height) %></th>
      <th><%= model_class.human_attribute_name(:range) %></th>
      <th><%= model_class.human_attribute_name(:mean) %></th>
    </tr>
  </thead>
  <tbody>
    <% @men.each do |man| %>
      <tr>
        <td><%= man.height %></td>
        <td><%= man.range %></td>
        <td><%= man.mean %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div class="container">
<%= link_to ' Average Needed Calorie for woman', women_path %><br>
</div>
