<%- model_class = Man -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:height) %>:</strong></dt>
  <dd><%= @man.height %></dd>
  <dt><strong><%= model_class.human_attribute_name(:range) %>:</strong></dt>
  <dd><%= @man.range %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mean) %>:</strong></dt>
  <dd><%= @man.mean %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              men_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_man_path(@man), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              man_path(@man),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
