<div class="container">
<%- model_class = Meat -%>
<div class="page-header">
<h3><i>Meats ( fish, seafood, etc,. )</i></h3>
</div>

<div class="container">
  <div class="row"> 
      <%= image_tag("seafood.jpg", :width => "100%", :height => "100%") %>     
  </div>  
</div> 

<table class="table table-striped">
  <thead>
    <tr>
     
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:calorie) %></th>

    </tr>
  </thead>
  <tbody>
    <% @meats.each do |meat| %>
      <tr>
        
        <td><%= meat.name %></td>
        <td><%= meat.calorie %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>



            </div>
