<%= form_for @snack, :html => { :class => "form-horizontal snack" } do |f| %>

  <% if @snack.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@snack.errors.count, "error") %> prohibited this snack from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @snack.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="container">

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :calorie, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :calorie, :class => 'form-control' %>
    </div>
    <%=f.error_span(:calorie) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                snacks_path, :class => 'btn btn-default' %>
    </div>
  </div>

  </div>

<% end %>
