
<div class="container">

<%- model_class = Snack -%>
<div class="page-header">
<h3><i>Drinks and Fast food ( coffee, snack and juice, etc., )</i></h3>
</div>

<div class="container">
  <div class="row"> 
      <%= image_tag("snacks.jpg", :width => "100%", :height => "100%") %>     
  </div>  
</div> 


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:calorie) %></th>
      
    </tr>
  </thead>
  <tbody>
    <% @snacks.each do |snack| %>
      <tr>
        <td><%= snack.name %></td>
        <td><%= snack.calorie %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

