<div class="container">
<%- model_class = Snack -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @snack.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:calorie) %>:</strong></dt>
  <dd><%= @snack.calorie %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              snacks_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_snack_path(@snack), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              snack_path(@snack),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

              </div>
