<%= form_for @bmitable, :html => { :class => "form-horizontal bmitable" } do |f| %>

  <% if @bmitable.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@bmitable.errors.count, "error") %> prohibited this bmitable from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @bmitable.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :bmino, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :bmino, :class => 'form-control' %>
    </div>
    <%=f.error_span(:bmino) %>
  </div>
  <div class="form-group">
    <%= f.label :weightclass, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :weightclass, :class => 'form-control' %>
    </div>
    <%=f.error_span(:weightclass) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bmitables_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
