
<div class="container">

<%- model_class = Bmitable -%>
<div class="page-header">
<h3><i>BMI Table</i></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>      
      <th><%= model_class.human_attribute_name(:bmino) %></th>
      <th><%= model_class.human_attribute_name(:weightclass) %></th>      
    </tr>
  </thead>
  <tbody>
    <% @bmitables.each do |bmitable| %>
      <tr>        
        <td><%= bmitable.bmino %></td>
        <td><%= bmitable.weightclass %></td>      
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<div class="container">
         <%= link_to 'Back', new_bmicalculate_path %>
</div>