<%- model_class = Bmitable -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:bmino) %>:</strong></dt>
  <dd><%= @bmitable.bmino %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weightclass) %>:</strong></dt>
  <dd><%= @bmitable.weightclass %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              bmitables_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bmitable_path(@bmitable), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              bmitable_path(@bmitable),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
