<%= form_for @three, :html => { :class => "form-horizontal three" } do |f| %>

  <% if @three.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@three.errors.count, "error") %> prohibited this three from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @three.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="container">

  <div class="form-group">
    <%= f.label :day, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :day, :class => 'form-control' %>
    </div>
    <%=f.error_span(:day) %>
  </div>
  <div class="form-group">
    <%= f.label :breakfast, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :breakfast, :class => 'form-control' %>
    </div>
    <%=f.error_span(:breakfast) %>
  </div>
  <div class="form-group">
    <%= f.label :lunch, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :lunch, :class => 'form-control' %>
    </div>
    <%=f.error_span(:lunch) %>
  </div>
  <div class="form-group">
    <%= f.label :dinner, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :dinner, :class => 'form-control' %>
    </div>
    <%=f.error_span(:dinner) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                threes_path, :class => 'btn btn-default' %>
    </div>
  </div>

  </div>

<% end %>
