<div class="container">
    <%= link_to ' * Seven Days Diet Plan', sevens_path %><br>
    <%= link_to ' * Boiled Eggs Diet Plan', eggdiets_path %><br>
    <%= link_to ' * Thirteen Days Diet Plan', thirteens_path %><br>
    <%= link_to ' * Twenty-one Days Diet Plan', twentyones_path %><br>
</div>

<div class="container">

<%- model_class = Three -%>

<div class="page-header">
<h3><i>Three Days Diet Plan ( Lose 10 pounds )</i></h3>
</div>

<table class="table table-striped">

  <thead>
    <tr>      
      <th><%= model_class.human_attribute_name(:day) %></th>
      <th><%= model_class.human_attribute_name(:breakfast) %></th>
      <th><%= model_class.human_attribute_name(:lunch) %></th>
      <th><%= model_class.human_attribute_name(:dinner) %></th>      
    </tr>
  </thead>

  <tbody>
    <% @threes.each do |three| %>
      <tr>        
        <td><%= three.day %></td>
        <td><%= three.breakfast %></td>
        <td><%= three.lunch %></td>
        <td><%= three.dinner %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      three_path(three), :class => 'btn btn-default btn-xs' %>
          
        </td>      
      </tr>
    <% end %>
  </tbody>
  
  </table>

  </div>

  <div class="container">
      <strong>Things to remember</strong><br>
         <p>
            <strong>
              * You must avoid pasta, salty food, sugar, fast food, fried food. (eg. potatoes chip, readymade food,.. etc)<br>
              * You must remark your weight before diet, and compare after diet.
            </strong>
         </p> 
  </div>