<div class="container">

<%- model_class = Three -%>
<div class="page-header">
<h3><i>Three Days Diet Plan </i></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:day) %>:</strong></dt>
  <dd><%= @three.day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:breakfast) %>:</strong></dt>
  <dd><%= @three.breakfast %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lunch) %>:</strong></dt>
  <dd><%= @three.lunch %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dinner) %>:</strong></dt>
  <dd><%= @three.dinner %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              threes_path, :class => 'btn btn-default'  %>


</div>
