<div class="container">

<%- model_class = Woman -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:height) %></th>
      <th><%= model_class.human_attribute_name(:range) %></th>
      <th><%= model_class.human_attribute_name(:mean) %></th>      
    </tr>
  </thead>
  <tbody>
    <% @women.each do |woman| %>
      <tr>
        <td><%= woman.height %></td>
        <td><%= woman.range %></td>
        <td><%= woman.mean %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="container">
<%= link_to ' Average Needed Calorie for man', men_path %><br>
</div>