<div class="container">
<%- model_class = Fruit -%>
<div class="page-header">
<h3><i>Vegetables and Fruits</i></h3>
</div>

<div class="container">
  <div class="row"> 
      <%= image_tag("vgfruit.jpg", :width => "100%", :height => "100%") %>     
  </div>  
</div> 

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:calorie) %></th>
    </tr>
  </thead>
  <tbody>
    <% @fruits.each do |fruit| %>
      <tr>
        
        <td><%= fruit.name %></td>
        <td><%= fruit.calorie %></td>        
      </tr>
    <% end %>
  </tbody>
</table>



</div>
