<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>                  
      </button>

      <a class="navbar-brand" href="#"><img src = "">Healthy Diet</a>

    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
    
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><li><%=link_to "Home", homes_path%></li></li>
        <li><%=link_to "BMI", new_bmicalculate_path%></li>
        <li><%=link_to "Needed Calorie", new_normal_path%></li>
        <li><%=link_to "Diet Plan", threes_path%></li>
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Categories<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%=link_to "Vegetables,Fruits", fruits_path%></li>
                <li><%=link_to "Meat,Seafood", meats_path%></li>
                <li><%=link_to "Drinks,Fast food", snacks_path%></li>
                <li class="divider"></li>
                <li><%=link_to "Other Recipes", foods_path%></li>
              </ul>
        </li>
            
      </ul>

    </div>
  </div>
</nav>


