<!DOCTYPE html>
<html>
  <head>
    <title>Dietplan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(20, 18, 20);
    color: #FFF;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
  }
    
    .carousel-inner img {
      width: 100%; 
      margin: auto;
      min-height:150px;
  }

  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  }

  </style>

  <body>

     <%= render 'layouts/navigation' %>

    <%= yield %>

  </body>
</html>