<%= form_for @food, :html => { :class => "form-horizontal food" } do |f| %>

  <% if @food.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @food.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="container">
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <%= f.label :calorie, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :calorie, :class => 'form-control' %>
    </div>
    <%=f.error_span(:calorie) %>
  </div>

  <div class="form-group">
    <%= f.label :protein, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :protein, :class => 'form-control' %>
    </div>
    <%=f.error_span(:protein) %>
  </div>

  <div class="form-group">
    <%= f.label :carbohydrate, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :carbohydrate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:carbohydrate) %>
  </div>

  <div class="form-group">
    <%= f.label :fat, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :fat, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fat) %>
  </div>

  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :image , :class => 'form-control' %>      
    </div>
    <%=f.error_span(:image) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                foods_path, :class => 'btn btn-default' %>
    </div>
  </div>

  </div>

<% end %>
