
<div class="container">

<%- model_class = Food -%>

<div class="page-header">
<h3><i>Other Recipes</i></h3>
</div>

<div class="container">
  <div class="row"> 
      <%= image_tag("recipes.jpg", :width => "100%", :height => "100%") %>     
  </div>  
</div> 

<table class="table table-striped">

  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:calorie) %></th>
      <th><%= model_class.human_attribute_name(:protein) %></th>
      <th><%= model_class.human_attribute_name(:carbohydrate) %></th>
      <th><%= model_class.human_attribute_name(:fat) %></th>      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.calorie %></td>
        <td><%= food.protein %></td>
        <td><%= food.carbohydrate %></td>
        <td><%= food.fat %></td>        
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      food_path(food), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
