<div class="container">

<%- model_class = Food -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

</div>

<%= render :partial => 'form' %>
