<div class="container">

<%- model_class = Food -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">

  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @food.name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:calorie) %>:</strong></dt>
  <dd><%= @food.calorie %></dd>

  <dt><strong><%= model_class.human_attribute_name(:protein) %>:</strong></dt>
  <dd><%= @food.protein %></dd>

  <dt><strong><%= model_class.human_attribute_name(:carbohydrate) %>:</strong></dt>
  <dd><%= @food.carbohydrate %></dd>

  <dt><strong><%= model_class.human_attribute_name(:fat) %>:</strong></dt>
  <dd><%= @food.fat %></dd>

  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= image_tag @food.image.variant(resize: "300x300") %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              foods_path, :class => 'btn btn-default'  %>

</div>

            
