
<div class="container">
<br><%= link_to 'BMI Table', bmitables_path %><br>
</div>

<div class="container">

<%- model_class = Bmicalculate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>    
      <th><%= model_class.human_attribute_name(:weight) %></th>
      <th><%= model_class.human_attribute_name(:height) %></th>
      <th><%= model_class.human_attribute_name(:bmi) %></th> 
      <th><%= model_class.human_attribute_name(:output) %></th>      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bmicalculates.each do |bmicalculate| %>
      <tr>  
        <td><%= bmicalculate.weight %></td>
        <td><%= bmicalculate.height %></td>
        <td><%= bmicalculate.bmi %></td> 
        <td><%= bmicalculate.output %></td>       
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      bmicalculate_path(bmicalculate), :class => 'btn btn-default btn-xs' %>
          
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bmicalculate_path(bmicalculate),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bmicalculate_path,
            :class => 'btn btn-primary' %>

</div>
