<%- model_class = Bmicalculate -%>

<div class="container">
  <div class="row">
    <h4><i>What is BMI ?</i></h4>
    <p>Body mass index (BMI) is a measure of body fat based on your weight in relation to your height, and applies to most adult men and women aged 20 and over. For children aged 2 and over, BMI percentile is the best assessment of body fat.
    </p>
  </div>
</div>

<div class="container">

<h3><i>Calculate Your BMI</i></h3>

</div>

<%= render :partial => 'form' %>

<div class="container">
          <br><%= link_to 'BMI Table', bmitables_path %><br>
      </div>

