<%- model_class = Bmicalculate -%>

<div class="container">

<div class="page-header">

</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:weight) %>:</strong></dt>
  <dd><%= @bmicalculate.weight %></dd>
  <dt><strong><%= model_class.human_attribute_name(:height) %>:</strong></dt>
  <dd><%= @bmicalculate.height %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bmi) %>:</strong></dt>
  <dd><%= @bmicalculate.bmi %></dd>
 
  <dd><strong><%= @bmicalculate.output %></strong></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              new_bmicalculate_path, :class => 'btn btn-default'  %>
</div>

      <div class="container">
          <br><%= link_to 'BMI Table', bmitables_path %><br>
      </div>


