<div class="container">

<%- model_class = Thirteen -%>
<div class="page-header">
<h3><i>Thirteen Days Diet Plan ( Lose 40 pounds)</i></h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:day) %></th>
      <th><%= model_class.human_attribute_name(:breakfast) %></th>
      <th><%= model_class.human_attribute_name(:lunch) %></th>
      <th><%= model_class.human_attribute_name(:dinner) %></th>     
    </tr>
  </thead>
  <tbody>
    <% @thirteens.each do |thirteen| %>
      <tr>
        <td><%= thirteen.day %></td>
        <td><%= thirteen.breakfast %></td>
        <td><%= thirteen.lunch %></td>
        <td><%= thirteen.dinner %></td>        
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      thirteen_path(thirteen), :class => 'btn btn-default btn-xs' %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>