<div class="container">

<%- model_class = Thirteen -%>
<div class="page-header">
<h3><i>Thirteen Days Diet Plan</i></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:day) %>:</strong></dt>
  <dd><%= @thirteen.day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:breakfast) %>:</strong></dt>
  <dd><%= @thirteen.breakfast %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lunch) %>:</strong></dt>
  <dd><%= @thirteen.lunch %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dinner) %>:</strong></dt>
  <dd><%= @thirteen.dinner %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              thirteens_path, :class => 'btn btn-default'  %>


</div>
